
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; 
    color: #0F0; 
    font-family: 'Courier New', Courier, monospace; 
    line-height: 1.2;
    padding: 20px;
    position: relative; 
    overflow-x: hidden; 
}

h2 {
    color: #FF00FF;
    margin-top: 40px;
    border-bottom: 2px dashed #0F0;
    padding-bottom: 5px;
}

.proyecto {
    border: 3px solid #FF0000;
    padding: 15px;
    margin: 20px 0;
    background-color: rgba(51, 51, 51, 0.7); 
}


.glitch {
    font-family: 'Impact', sans-serif;
    position: relative;
    color: #FF0000; 
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 0.05em 0 0 #00FFFF, 
                 -0.03em -0.04em 0 #FF00FF, 
                 0.025em 0.05em 0 #FFFF00;
    
    animation: glitch-anim 2s infinite linear alternate-reverse; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; 
    color: #0F0; 
    font-family: 'Courier New', Courier, monospace; 
    line-height: 1.2;
    padding: 20px;
    position: relative; 
    overflow-x: hidden; 
}

h2 {
    color: #FF00FF; 
    margin-top: 40px;
    border-bottom: 2px dashed #0F0;
    padding-bottom: 5px;
}

.proyecto {
    border: 3px solid #FF0000;
    padding: 15px;
    margin: 20px 0;
    background-color: rgba(51, 51, 51, 0.7); /
}


.glitch {
    font-family: 'Impact', sans-serif;
    position: relative;
    color: #FF0000; 
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 0.05em 0 0 #00FFFF, 
                 -0.03em -0.04em 0 #FF00FF, 
                 0.025em 0.05em 0 #FFFF00;
    
    animation: glitch-anim 2s infinite linear alternate-reverse; 
}


